.shadow {
  box-shadow: 0 2px 15px rgb(0 0 0 / 68%);

  display: flex;
  justify-content: center;
  align-items: center;

  max-height: 900vh !important;

}

*::-webkit-scrollbar{
  display: none;
}

.ce-chat-engine{
  width: 100vw!important;

margin: 0 !important;


position: relative;

}

.ce-wrapper{
  width: 100%;
  padding: 0 !important;

  position: relative!important;
}

.background{
  height: 100vh;
  width: 100vw ;
 padding: 0 !important;

 overflow: hidden !important;
}


/* Chat List */

.ce-chat-list{
  border:  none !important;
}

.ce-chat-list-column{
  z-index: 10;
}

.ce-wrapper {
  background-color: #4a5162 !important;
}

.ce-chats-container {
  background-color: #222733 !important;
  border-radius: 0px !important;

}

.ce-chat-form-container {
  background-color: transparent!important;
  margin-bottom: 30px;
  color: white;
  border-bottom: 1px solid #0880ff;
}

.ce-chat-card {
  margin: 0px 6px !important;
}

.ce-chat-card-loading-bar {
  background-color: #41446b !important;
}

.ce-active-chat-card {
  background-color: #0880ff !important;
}

.ce-chat-title-text {
  color: rgb(255, 255, 255) !important;
}

.ce-chat-subtitle-text {
  color: hsla(0, 0%, 77%, 0.568) !important;
}

.ce-chat-unread-dot {
  background-color: white !important;
}

/* Chat Feed */

.ce-chat-title-container {
  background-color: #0880ff !important;
  border-radius: 0px !important;
  height: 40px;
  display: flex;
  align-items: center;
}

.ce-chat-title-container .ce-chat-title-text{
  margin: 0 30px;

  padding-right: 30px;
  border-right: 1px solid #fff;

  
  color: #fff !important;

}

.ce-chat-title-container  .ce-chat-subtitle-text{
  color: #fff !important;
}

/* background */
.ce-chat-feed-container {
  background-color: #222733 !important;

}

.ce-primary-button {
  background-color: #9a97fc !important;
}

.ce-message-date-text {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

.ce-my-message-bubble {
  background-color: #726dfe !important;
}

.ce-my-message-sinding-bubble {
  background-color: #938ffe !important;
}

.ce-my-message-timestamp {
  color: #9a97fc !important;
}

.ce-their-message-timestamp {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

#ce-send-message-button {
  background-color: #0880ff !important;
  border: 1px solid rgba(255, 255, 255, 0.282) !important;
}

#ce-ice-breaker-gif {
  max-width: 115px !important;
  margin-top: 30px !important;
}

.ce-social-message-form {
  background-color: #0880ff !important;
}

.ce-message-input-form {
  padding-bottom: 10px !important;
}

#msg-textarea {
  width: calc(100% - 140px) !important;
  position: relative !important;
  top: 4px !important;
  border-width: 0px !important;
  background-color: #0880ff!important;
  color: rgb(255, 255, 255) !important;
}
#msg-textarea::placeholder {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

#ce-upload-document-icon {
  color: rgb(255, 255, 255) !important;
}

.ce-feed-container-bottom {
  height: "44px";
}

.ce-message-images-row {
  background-color: #4a5162 !important;
}

.ce-their-message-sender {
  color: hsla(0, 0%, 100%, 0.568) !important;
}

.ce-their-message-bubble {
  background-color: #535a6d !important;
  color: rgba(255, 255, 255, 0.705) !important;
}

/* Chat Settings */

.ce-autocomplete-option{
  border: none;

  display: flex;
  flex-direction: column;
}

.ce-autocomplete-options{

  width: 100% !important;
  position: relative;

  border: none !important;

  margin: 20px 0px;
}

.ce-autocomplete-option > div{
  background-color: #0880ff !important;
  color: #fff;

  padding: 15px !important;
}
  

.ce-settings {
  border:  none !important;
  background-color: #222733 !important;
  border-radius: 0px !important;
}
.ce-settings > .ce-avatar{
  box-shadow: 0 0 12px #065ab38c;
}

.ce-chat-title-form .ce-text-input {
  background-color: #222733;
  color: white;

  margin: 20px 0;
}

.ce-section-title-container {
  background-color: #222733  !important;
  color: white;
}

#ce-options-drop-down {
  background-color: #222733  !important;
  color: white;
}

.ce-person-text {
  color: hsla(0, 0%, 100%, 0.568);
}

.ce-danger-button {
  background-color: #4a5162 !important;
  border: 1px solid #9a97fc !important;
  color: #9a97fc !important;
}

.ce-autocomplete-close {
  background-color: white !important;
  border-radius: 0px !important;
  border: none;

  border-radius: 60%;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}


@media only screen and (max-width: 1000px) {
  .background{
    padding: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh !important;
  }
  .shadow {
    height: 100vh !important;
    max-height: 100vh !important;
    width: 100vw !important;

    position: absolute!important;
    top: 0 !important;
  }

  .ce-chat-engine{
    padding: 0 !important;
  }

  .ce-chat-title{
    width: 100vw !important;
    padding: 0 !important;

    position: absolute !important;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0880ff !important;

  }

  .ce-chat-list-mobile-option,
  .ce-chat-settings-mobile-option{
    width: 90vw !important;

    margin: 0 !important;

    margin: 0 !important;
    position: relative !important;
    top: 0 !important;
  }
  .ce-chat-list-mobile-option > div,
  .ce-chat-settings-mobile-option > div{
    width: 100% !important;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    }

    .ce-chat-list-mobile-option > div span,
    .ce-chat-settings-mobile-option > div span{
      color: #fff !important;
    }

    .ce-chat-title-container{
      margin: 0 !important;
      width: 100% !important;
    }
}